/* Application styles could go here */
footer .poweredby { float: right; margin: 33px 10px 0 0;}
footer .poweredby img { width: 120px; }

.project-list > li {
    font-style: italic;
    margin-bottom: 10px;
}

.statistics {
    font-size: 13px;
    font-family: Verdana,sans-serif;
    font-style: normal;
}

a.website {
    font-size: 13px;
    font-family: Verdana,sans-serif;
    font-style: normal;
}

div.small-profile {
    border: 1px solid #dddddd;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

div.small-profile, div.small-profile > a {
    font-size: 13px;
    font-family: Verdana,sans-serif;
    font-style: normal;
}

div.revision > table, div.project-data > table, div.project-dates > table, div.project-desc > table, div.revision > div {
    font-size: 13px;
    font-family: Verdana,sans-serif;
    font-style: normal;
}

div.revision a:after, div.project-data a:after, div.project-dates a:after, div.project-desc a:after {
    content: "\02196";
}

div.revision > .draft {
    color: #DEA60D;
}

div.revision > .to_controll {
    color: #DE3E0D;
}

div.revision > .controlled {
    color: #180DDE;
}

div.revision > .accepted {
    color: #0DDE80;
}

div.revision > .finished {
    color: #000000;
}